<% @listings.each do |listing| %>
  <div class="listing_container">
    <ul>
      <li class="lisitng_link details"><%= link_to listing.address, listing %></li>
      <li class="details"><%= "#{listing.city}, #{listing.state}, #{listing.zip}" %></li>
    </ul>
  </div>
<% end %>
