<h4 id='welcome'><%= "#{@user.name}, these are the current listings you have posted." %></h4>
<hr>
<% @listings.each do |listing| %>
  <div class="listing_container">
    <ul>
      <li class="details"><%= link_to listing.address, user_listing_url(user_id: listing.user.id, id: listing.id), class: 'nav_link' %></li>
      <li class="details"><%= "#{listing.city}, #{listing.state}, #{listing.zip}" %></li>
    </ul>
  </div>
<% end %>
