<h3>Listing Details</h3>
<hr>
<ul>
  <li><%= @listing.city %></li>
  <li><%= "#{@listing.address}, #{@listing.city}, #{@listing.state}, #{@listing.zip}" %></li>
  <li><%= @listing.description %></li>
</ul>
