<h3>Listing Details</h3>
<hr>
<ul>
  <li><%= @listing.address %></li>
  <li><%= "#{@listing.city}, #{@listing.state}, #{@listing.zip}" %></li>
  <li><%= @listing.description %></li>
</ul>

<%= link_to 'Back', user_listings_path %>
