<h3>Welcome back, <%= @user.name %></h3>

<p>Please utilize this dashboard to manage the listings you have with us. From this page you can view all your listings, add new listings, delete any old listings and make changes to any of your current listings.</p>
